@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0d1117;
    --color-fg-1: #bababa;
    --color-fg-2: #a0a0a0;
    --color-fg-1-hover: #e3e3e3;
    --color-border: #2f2f2f;
    --color-border-hover: #5a5a5a;
    --color-footer: #7e7e7e;
  }
}

/*
 * The negation of (prefers-color-scheme: dark) is used here,
 * even though prefers-color-scheme defaults to light, because
 * the values for that feature might be expanded in the future.
 * Reference: 
 * https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme
 */
@media (not prefers-color-scheme: dark) {
  :root {
    --color-bg: #fff;
    --color-fg-1: #0f0f0f;
    --color-fg-2: #757575;
    --color-fg-1-hover: #707070;
    --color-border: #dbdbdb;
    --color-border-hover: #979797;
    --color-footer: #707070;
  }
}